# ============================
#   SITE CONFIGURATION
# ============================

theme: jekyll-theme-chirpy
lang: en
timezone: Europe/Berlin

# --- SEO ---
title: "2ubzer0"
tagline: "I'm a HTB-addicted Red Teamer, Cyber Enthusiast, and custom Windows machine creator"

description: >-
  Red Teaming, Active Directory attacks, custom Windows machines, HTB writeups 
  and deep technical cybersecurity research.

# GitHub Pages URL
url: "https://2ubzer0.github.io"

# --- AUTHOR (SIDEBAR NAME, BIO, AVATAR) ---
author:
  name: "2ubZ3r0"
  avatar: "/assets/photo_2025-04-05_11-45-11.jpg"
  bio: "I'm a HTB-addicted Red Teamer, Cyber Enthusiast, and custom Windows machine creator"

# --- Social Settings ---
github:
  username: 2ubzer0

twitter:
  username:

social:
  name: "2ubZ3r0"
  email: ""
  links:
    - https://github.com/2ubzer0

# --- Webmaster Verifications ---
webmaster_verifications:
  google:
  bing:
  alexa:
  yandex:
  baidu:
  facebook:

# --- Analytics ---
analytics:
  google:
    id:
  goatcounter:
    id:
  umami:
    id:
    domain:
  matomo:
    id:
    domain:
  cloudflare:
    id:
  fathom:
    id:

# --- Pageviews ---
pageviews:
  provider:

# --- Theme Mode ---
theme_mode: dark

# --- CDN ---
cdn:

# --- Fallback Avatar ---
avatar: "/assets/photo_2025-04-05_11-45-11.jpg"

# --- Social preview image ---
social_preview_image:

# --- Posts ---
toc: true

comments:
  provider:
  disqus:
    shortname:
  utterances:
    repo:
    issue_term:
  giscus:
    repo:
    repo_id:
    category:
    category_id:
    mapping:
    strict:
    input_position:
    lang:
    reactions_enabled:

assets:
  self_host:
    enabled:
    env:

pwa:
  enabled: true
  cache:
    enabled: true
    deny_paths:

paginate: 10
baseurl: ""

# --- DO NOT MODIFY BELOW ---
kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
